form {
  border: solid 0.0625rem #000;
  border-radius: 0.25rem;
  padding: 1rem;
  display: inline-block;
  text-align: left;
}

.formGroup {
  margin-bottom: 2rem;
}

label {
  width: 6rem;
  display: inline-block;
}
